<div ng-controller="GanttTaskResourcesController as ctrl">
    <div ng-if="ctrl.taskID">
        <div ng-show="ctrl.state == 'loading'" class="text-center" style="margin-top:15px;">
            <img src="rolling.gif" alt="" style="width:25px"> &nbsp;
            Loading resources. Wait a moment...
        </div>

        <div ng-show="ctrl.state == 'error'" class="alert alert-danger" role="alert">
            <strong>Error!</strong> Loading resources failed.
        </div>

        <div ng-show="ctrl.state == 'assigning'" class="text-center" style="margin-top:15px;">
            <img src="rolling.gif" alt="" style="width:25px"> &nbsp;
            Assigning resource. Wait a moment...
        </div>
        <div ng-show="ctrl.state == 'unassigning'" class="text-center" style="margin-top:15px;">
            <img src="rolling.gif" alt="" style="width:25px"> &nbsp;
            Deleting resource. Wait a moment...
        </div>

        <div ng-if="ctrl.state == 'ready'">
            <gantt-resources-list
                    resources="ctrl.getTaskResources()"
                    on-unassign="ctrl.unassignResourceFromTask(resourceID)">
            </gantt-resources-list>

            <div class="form-group">
                <label class="control-label">Resources assignment</label>
                <div class="input-group">
                    <ui-select ng-disabled="!ctrl.getAvailableResources().length"
                               allow-clear
                               ng-model="ctrl.selectedResource"
                               theme="bootstrap">
                        <ui-select-match placeholder="Select a resource to assign to task">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in ctrl.getAvailableResources() | filter: $select.search">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                      <button type="button"
                              ng-disabled="!ctrl.getAvailableResources().length || ctrl.selectedResource == null"
                              ng-click="ctrl.assignResourceToTask()"
                              class="btn btn-success">
                        Assign
                      </button>
                    </span>

                </div>
            </div>

            <div ng-show="!ctrl.getAvailableResources().length"> No resources left to assign.</div>
        </div>
    </div>
</div>
