<div ng-controller="GanttTaskResourcesController as ctrl">
    <div ng-if="ctrl.taskID">
        <div ng-show="ctrl.state == 'loading'" class="text-center" style="margin-top:15px;">
            <img src="rolling.gif" alt="" style="width:25px"> &nbsp;
            Loading...
        </div>

        <div ng-show="ctrl.state == 'ready'">
            <gantt-resources-list task-id="{{ctrl.taskID}}"></gantt-resources-list>
        </div>

        <div ng-show="ctrl.state == 'error'" class="alert alert-danger" role="alert">
            <strong>Error!</strong> Loading resources failed.
            <button ng-click="ctrl.retry()" class="btn btn-warning btn-xs pull-right">Reload</button>
        </div>
    </div>
</div>
