<div ng-controller="GanttContextActionsController as cntxtActCtrl">
    <button type="button"
            class="btn btn-default btn-sm"
            ng-click="cntxtActCtrl.selectAll()">
        Select all
    </button>
    <button type="button"
            class="btn btn-default btn-sm"
            ng-click="cntxtActCtrl.unselectAll()">
        Unselect all
    </button>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button"
                class="btn btn-sm btn-default icon_btn"
                ng-class="{'disabled': cntxtActCtrl.zoom.isMin()}"
                ng-click="cntxtActCtrl.zoom.dec()">
            <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
        </button>
        <button type="button"
                class="btn btn-sm btn-default icon_btn"
                ng-class="{'disabled': cntxtActCtrl.zoom.isMax()}"
                ng-click="cntxtActCtrl.zoom.inc()">
            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
        </button>
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button"
                class="btn btn-sm btn-default icon_btn"
                ng-class="{'disabled': cntxtActCtrl.indent.isMin()}"
                ng-click="cntxtActCtrl.indent.dec()">
            <span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>
        </button>
        <button type="button"
                class="btn btn-sm btn-default icon_btn"
                ng-class="{'disabled': cntxtActCtrl.indent.isMax()}"
                ng-click="cntxtActCtrl.indent.inc()">
            <span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span>
        </button>
    </div>
</div>