<div ng-repeat="task in $parent.$parent.ganttCtrl.tasks"
     ng-controller="TaskController as taskCtrl">

    <div dialog-trigger="task-editor" dialog-argument="taskCtrl.id" style="cursor: pointer">

        <div ng-controller="TaskClickController as clickCtrl"
             ng-click="clickCtrl.onClick($event, task.id)"
             ng-right-click="clickCtrl.onRightClick($event,task.id)"
             ng-class="{'task-selected': clickCtrl.isSelected(task.id)}"
             class="task_wrapper"
             ng-class-odd="'task_wrapper_odd'"
             data-toggle="context"
             data-target="#context-menu">

            <div class="pull-left btn-group-vertical btn-group-xs"
                 style="margin-right: {{5 + taskCtrl.indent.getValue() * taskCtrl.nestingDepth}}px">
                <button class="btn btn-default icon_btn"
                        style="font-size:11px;"
                        ng-class="{'disabled': taskCtrl.isFirstTaskWithinSiblings}"
                        ng-click="taskCtrl.moveTaskUp(taskCtrl.id, $event)">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default icon_btn"
                        style="font-size:11px;"
                        ng-class="{'disabled': taskCtrl.isLastTaskWithinSiblings}"
                        ng-click="taskCtrl.moveTaskDown(taskCtrl.id, $event)">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </button>
            </div>

            <div class="task_name text-left" style="">
                {{taskCtrl.name}} - id {{taskCtrl.id}} - order {{taskCtrl.order}}
            </div>
            <div>
                <date-interval start="taskCtrl.start"
                               end="taskCtrl.end"
                               class="date_label"
                               is-milestone="taskCtrl.isMilestone"></date-interval>

                <span ng-show="taskCtrl.hasBaseline">
                     | <date-interval start="taskCtrl.baseline.dateInterval.start"
                                   end="taskCtrl.baseline.dateInterval.end"
                                   class="date_label baseline_date_label"
                                   is-milestone="taskCtrl.isMilestone"></date-interval>
                </span>
                <span class="label pull-right"
                      ng-class="{
                        'label-success': taskCtrl.isCompleted,
                        'label-info': taskCtrl.percentComplete >= 66 && taskCtrl.percentComplete < 100,
                        'label-warning': taskCtrl.percentComplete >= 33 && taskCtrl.percentComplete < 66,
                        'label-danger': taskCtrl.percentComplete < 33
                      }"
                      style="margin-top:3px; width:35px;">
                    <span ng-hide="taskCtrl.isMilestone">{{taskCtrl.percentComplete}}%</span>
                    <span ng-show="taskCtrl.isMilestone">
                        <span class="glyphicon glyphicon-{{taskCtrl.isCompleted ? 'ok' : 'remove'}}" aria-hidden="true"></span>
                    </span>
                </span>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<url-locale-include alias="task-context-menu"></url-locale-include>
