
<div class="timeline_options">
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Active</td>
                <td>Grid</td>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(index, type) in config">
            <td>{{type.label}}</td>
            <td>
                <input ng-model="type.visible"
                       ng-change="notifyAboutChanges()"
                       type="checkbox"
                       class="timeline_option">
                {{type.visible | json}}
            </td>
            <td>
                <input ng-model="$parent.stripesTypeName"
                       ng-change="onStripesTypeChange()"
                       type="radio"
                       value="{{index}}"
                       class="timeline_option">
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div class="text-right">
        <div ng-click="saveConfig()" class="btn btn-default btn-sm">Save</div>
        <!--<div ng-click="back()" class="btn btn-default btn-xs">Back</div>-->
    </div>
</div>