.timeline_unit_wrapper {
    float: left;
    text-align: center;
}

.timeline_unit_wrapper:first-child .timeline_unit {
    border-left-width: 0px;
}

.timeline_unit {
    padding: 3px 0;
    border: 0px solid #CCC;
    border-left-width: 1px;
    overflow: hidden;
}

.timeline_row {
    position: relative;
    border-bottom: 1px solid #ccc;
    background-color: #F7F7F7;
    overflow: hidden;
}

.unit_label {
    width: 60px;
    position: absolute;
    bottom: 0px;
    left: -60px;
    text-align: right;
    padding: 3px 6px 3px 0;
    text-transform: capitalize;
}


.timeline_bar {
    /*border: 1px solid #CCC;*/
}

/*.timeline_row:last-child{
    border-bottom: 0px;
}*/