<div dialog-window="baselines" class="dialog-window">
    <div ng-controller="GanttBaselinesController as baselinesCtrl"
         class="panel panel-info">

        <div class="panel-heading"><h5 class="panel-title">Baselines</h5></div>
        <div class="panel-body">
            <div class="list-group">
                <button ng-repeat="name in baselinesCtrl.baselineNames"
                        ng-click="baselinesCtrl.toggleBaseline(name)"
                        type="button"
                        class="list-group-item"
                        ng-class="{'active': baselinesCtrl.isCurrentBaseline(name)}">
                    {{name}}
                <span ng-click="baselinesCtrl.onDeleteClick($event,name)"
                      class="glyphicon glyphicon-remove pull-right"
                      aria-hidden="true"></span>
                </button>
            </div>

            <div ng-show="baselinesCtrl.inProcess" class="text-center" style="margin-bottom:20px;">
                <img src="rolling.gif" alt="" style="width:25px"> &nbsp;
                {{baselinesCtrl.processText}}
            </div>

            <ng-form class="form-inline" name="baselineForm">

                <input ng-model="baselinesCtrl.name"
                       type="text"
                       class="form-control"
                       id="exampleInputAmount"
                       placeholder="Save baseline as...">
                <button ng-click="baselinesCtrl.addBaseline(baselinesCtrl.name)"
                        type="submit"
                        ng-disabled="baselinesCtrl.name == ''"
                        class="btn btn-success">
                    Save
                </button>
            </ng-form>

            <div style="margin-top:7px;" class="text-center">
                <small>
                    Tasks to save in baseline:
                <span id="selected-tasks-names"
                      class="tooltip-label"
                      data-toggle="popover"
                      data-placement="left"
                      data-content="{{baselinesCtrl.getTasksNames()}}"
                      style="cursor: pointer;">
                    {{baselinesCtrl.getTasksCount()}}
                </span>
                </small>
            </div>

        </div>
    </div>
</div>