.timeline_unit_wrapper{
    float: left;
    text-align: center;
}

.timeline_unit_wrapper:first-child .timeline_unit{
    border-left-width: 0px;
}

.timeline_unit{
    padding: 3px 0;
    border-color: #CCC;
    border-style: solid;
    border-width: 0px;
    border-left-width: 1px;
    overflow: hidden;
}

.timeline_row{
    position: relative;
    border-bottom: 1px solid #ccc;
}

.unit_label{
    width: 60px;
    position: absolute;
    bottom: 0px;
    left: -60px;
    text-align: right;
    padding: 3px 6px 3px 0;
    text-transform: capitalize;
}

.timeline{
    background-color: #F7F7F7;
    overflow: hidden;
}

.timeline_stripes{
    position: absolute;
    top:0;
    left:1px;
    height:100%;
    width:100%;
    border-top:0;
    border-bottom:0;
    overflow: hidden;
}

.timeline_bar{
    /*border: 1px solid #CCC;*/
}

/*.timeline_row:last-child{
    border-bottom: 0px;
}*/