.timeline_unit_wrapper {
    float: left;
    text-align: center;
}

.timeline_unit_wrapper:first-child .timeline_unit {
    border-left-width: 0px;
}

.timeline_unit {
    padding: 3px 0;
    border: 0px solid #CCC;
    border-left-width: 1px;
    overflow: hidden;
}

.timeline_row {
    position: relative;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.unit_label {
    width: 60px;
    position: absolute;
    bottom: 0px;
    left: -60px;
    text-align: right;
    padding: 3px 6px 3px 0;
    text-transform: capitalize;
}

.timeline_bar {
    background-color: #EEEEEE;
}

.timeline_option{
    /*display: block;*/
}

.timeline_options td{
    vertical-align: middle;
    padding: 2px 5px;
    text-align: center;
}

.timeline_options td:first-child{
    text-align: center;
}

.stripe{
    height:100%;
    border-left: 1px solid #CCC;
}

.stripe_wrapper:first-child .stripe{
    border:0px !important;
}

.stripe_wrapper{
    float: left;
    height:100%;
}

.timeline_stripes{
    position: absolute;
    height:100%;
    width: 100%;
    top:0px;
    left:0px;
    border-top: 0;
    border-bottom: 0;
    overflow: hidden;
}
