#gantt .icon_btn.disabled {
    opacity: 0.25 !important;
}

.gantt_block {

}

.gantt_block .gantt {
    border: 1px solid #CCC;
    background-color: white;
}

.gantt_block .gantt.empty {
    height: 450px;
    border: 1px solid #CCC;
    background-color: #FBFBFB;
}

.gantt_block .empty-stub {
    padding-top: 200px;
    text-align: center;
    font-size: 1.5em;
}

.gantt_block .top-bar {
    margin-bottom: 3px;
}

.gantt_block .tab {
    margin-left: 3px;
    margin-right: 0;
}

.gantt_block .tabs {
    float: right;
}

.gantt_block .tabs > .btn:focus {
    outline: none;
    background-color: transparent;
}

.gantt_block .tabs > .btn.active {
    background-color: #d4d4d4;
}

.gantt_block .task_line_sector {
    float: left;
}

.task_completed_part,
.gantt_block .task_line {
    border-radius: 3px;
}

.gantt_block .task_line {
    height: 19px;
    position: relative;
}

.gantt_block .task_completed_part {
    float: left;
    height: 100%;
    border-radius: 4px;
}

.gantt_block .task_completed_part_label {
    text-align: center;
    font-size: 1.1em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
}

.gantt_block .tasks_block {
    position: relative;
    overflow: auto;
    border: 1px solid #CCC;
}

.gantt_block .tasks_wrapper {
    border-top-width: 2px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex: 1;
    max-height: 517px;
    overflow-y: scroll;
}

.task-selected {
    height: 46px;
    background-color: #EEEEEE !important;
    -moz-box-shadow: inset 0px 0px 10px -3px #1F1F1F;
    -webkit-box-shadow: inset 0px 0px 10px -3px #1F1F1F;
    box-shadow: inset 0px 0px 10px -3px #1F1F1F;
}



.gantt_block .task_line_wrapper {
    position: relative;
}


.gantt_block .date_label {
    white-space: nowrap;
    font-size: 0.85em;
    color: blue;
}

.gantt_block .task_line_wrapper .top_block {
    white-space: nowrap;
    padding: 2px 0;
    text-align: center;
}

.gantt_block .parent_indicator {
    border: 5px solid #D4EF41;
    border-bottom: 4px solid transparent;
    margin-bottom: -6px;
}

.gantt_block .rhombus {
    height: 14px;
    width: 14px;
    position: relative;
    left: -6.5px;
    transform: rotate(45deg);
}

.gantt_block .baseline-rhombus {
    background-color: grey;
    position: absolute;
    top: 24px;
}

.gantt_block .done_green {
    background-color: #6DC36D;
}

.gantt_block .left_red {
    background-color: #F57171;
}

.gantt_block .current_date_line {
    position: absolute;
    top: 0;
    height: 100%;
    border-right: 1px solid #FF2E2E;
}

.no-padding-row > [class*=col], .no-padding-row > .ng-scope > [class*=col] {
    padding: 0px !important;
}



.gantt-timeline-block {
    display: flex;
    flex: 1;
}


.baseline {
    position: absolute;
    top: 22px;
    border: 4px solid grey;
    border-top: 4px solid transparent;
    margin-top: -6px;
    border-left-width: 8px;
    border-right-width: 8px;
}

button.list-group-item:focus {
    outline-color: transparent;
    background-color: transparent;
}

.baseline-current {
    background-color: #E0E0E0 !important;
}

.baseline-button:focus {
    background-color: transparent;
}

.baseline-button:hover {
    background-color: #f5f5f5 !important;
}

[dialog-window=baselines] .popover-content {
    font-size: 0.8em;
}

.tooltip-label {
    text-decoration: underline;
    cursor: pointer;
}

.baseline-info-part {
    float: left;
}

.task-info-part {
    float: left;
}

.baseline_date_label {
    color: grey !important;
}

.gantt-container {

}

.gantt-row-block {
    display: flex;
}

.context-actions-bar {
    vertical-align: middle;
    border-bottom: 0 !important;
    padding: 13px 5px;
}

.bottom-line-input {
    border: 0;
    border-bottom: 1px solid #CCC;
    outline: 0;
    padding: 0 2px;
}

.dialogs {
    display: none;
}

.processing-lock {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
}

.processing-lock td {
    vertical-align: middle;
}

.processing-lock span {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 15px;
    padding: 40px;
}

.today-line {
    border-right: 1px solid red;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 0px;
}

.gantt-toolbar {
    float: left;
}

.rg-left span, .rg-right span {
    border: 0;
}

.rg-right {
    width: 5px;
    background: #DDD;
    margin-right: 0px;
}


.full-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}


/*Project info block (top-left area)*/
.gantt_block .gantt-project-info {
    background-color: #EEEEEE;
    padding-left: 10px;
    margin-right: 15px;
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #CCC;
}
.gantt_block .task-info-block,
.gantt_block .gantt-project-info {
    margin-right: 0px;
    padding-right: 5px;
    transition: all 500ms;
    transition-timing-function: ease;
}
.gantt_block .gantt-project-name {
    font-weight: bold;
    font-size: 1.2em;
}
.gantt_block .gantt-project-baseline {
    color: #929292;
}

/*Task info block*/
.gantt_block .task-info-block {
    max-height: 517px;
    overflow: hidden;
}
.gantt_block .task-info-block .task_wrapper {
    display: flex;
    flex-wrap: nowrap;
    padding: 4px;
}
.gantt_block .task_name {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.1em;
    white-space: nowrap;
    font-weight: bold;
}
.gantt_block .task_dates_block{
    white-space:nowrap;
}

/*Task block*/
.gantt_block .task_wrapper {
    border-bottom: 1px dotted #CCC;
    height: 47px;
    position: relative;
}
.gantt_block .task_wrapper:hover {
    background-color: #F1F1F1 !important;
}
.gantt_block .task_wrapper_odd {
    background-color: #FBFBFB;
}

/*Task editor*/
#task-editor .nav > li > a {
    padding: 5px 12px !important;
}
#task-editor .nav{
    margin-bottom: 10px;
}