<link rel="stylesheet" href="gantt/gantt.css">

<div id="gantt" class="exposition_block">

    <div class="gantt_block">
        <div class="top-bar">
            <ng-include src="'gantt/status-bar/status-bar.html'"></ng-include>
            <ng-include src="'gantt/tabs.html'"></ng-include>
            <div style="clear:both"></div>
        </div>

        <!--GANTT-->
        <div ng-controller="GanttController as ganttCtrl">
            <div ng-if="!ganttCtrl.isEmpty" class="gantt container-fluid" dialog-background>
                <div class="row no-padding-row">
                    <div class="col-md-offset-2 col-md-10">
                        <!--TIMELINE-->
                        <timeline date-interval="ganttCtrl.boundaries" config="ganttCtrl.timelineConfig"></timeline>
                    </div>
                </div>

                <div class="row no-padding-row">
                    <ng-include src="'gantt/tasks/tasks-info.html'"></ng-include>

                    <!--TASK LINES-->
                    <div class="col-md-10">
                        <div class="tasks_block">
                            <!--<timeline-stripes date-interval="ganttCtrl.boundaries"-->
                                              <!--config="ganttCtrl.timelineConfig"></timeline-stripes>-->
                            <div class="tasks_wrapper">
                                <div ng-repeat="task in ganttCtrl.tasks">
                                    <ng-include src="'gantt/tasks/task.html'"></ng-include>
                                    <div style="clear: both"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-include src="'gantt/timeline/timeline-options.html'"></ng-include>
            <ng-include src="'gantt/tasks/task-editor.html'"></ng-include>
        </div>
    </div>

    <style>
        .todo {
            font-weight: bold;
            font-size: 15px;
            margin-top: 20px;
        }

        .todo.todo-done li {
            color: green;
        }

        .todo.todo-canceled li {
            color: grey;
            text-decoration: line-through;
        }
    </style>

    <div style="margin:20px">
        <h2>TODOs:</h2>
        <ul class="todo todo-current">
            <li> task context menu [mouse right click]</li>
            <li> $scope.task.isParent = $scope.task.parent_id == 0; - is not correct!</li>
            <li> 2 views for app and app-dev</li>
            <li> millestone (ng-if/ng-show) make more elegant</li>
        </ul>
        <ul class="todo todo-done">
            <li> ng-if="dateInterval" not working in timeline directive</li>
            <li> extract timeline into directive!</li>
            <li> list.overallDateInterval resolve!</li>
            <li> multiple stripe types</li>
        </ul>
        <ul class="todo todo-canceled">
            <li> use $router resolve to load dependencies for gantt data(and settings)?</li>
            <li> user service in common http service?</li>
            <li> wrapper for httpMock, hot for common.http.service</li>
        </ul>
    </div>

