.gantt_block {

}

.gantt_block .gantt {
    position: relative;
    background-color: white;
}

.gantt_block .top-bar{
    margin-bottom: 3px;
}

.gantt_block .status-bar{
    float:left;
    font-size: 13px;
    padding-left: 0px;
}

.gantt_block .tab {
    margin-left: 3px;
    margin-right: 0;
}

.gantt_block .tabs {
    float: right;
}

.gantt_block .task_line_sector {
    float: left;
}

.task_completed_part,
.gantt_block .task_line {
    border-radius: 3px;
}

.gantt_block .task_line {
    height: 19px;
    position: relative;
}

.gantt_block .task_completed_part {
    float: left;
    height: 100%;
    border-radius: 4px;
}

.gantt_block .task_completed_part_label {
    text-align: center;
    font-size: 1.1em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
}

.gantt_block .task_wrapper:last-child {
    border: 0;
}

.gantt_block .tasks_block {
    position: relative;
    overflow: hidden;
    border: 1px solid #CCC;
}

.gantt_block .tasks_wrapper {
    /*border: 1px solid #CCC;*/
    border-top-width: 2px;
    cursor:pointer;
}

.task_wrapper {
    /*border-radius: 2px;*/
    border-bottom: 1px dotted #CCC;
    height: 47px;
    /*padding: 1px 0;*/
}

.task_wrapper:last-child {
    border-bottom: 0;
}

.gantt_block .task_name {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.1em;
    white-space: nowrap;
    font-weight: bold;
}

.gantt_block .task_line_wrapper {
    position: relative;
}

.gantt_block .task_wrapper:nth-child(odd) {
    background-color: #FBFBFB;
}

.gantt_block .date_label {
    white-space: nowrap;
    font-size: 0.85em;
    color: blue;
}

.gantt_block .task_line_wrapper .top_block {
    white-space: nowrap;
    padding: 2px 0;
    text-align: center;
}

.gantt_block .parent_indicator {
    border: 7px solid #D4EF41;
    border-bottom: 5px solid transparent;
    margin-bottom: -6px;
}

.gantt_block .rhombus {
    height: 14px;
    width: 14px;
    position: relative;
    left: -6.5px;
    transform: rotate(45deg);
}

.gantt_block .done_green {
    background-color: #6DC36D;
}

.gantt_block .left_red {
    background-color: #F57171;
}

.gantt_block .task_wrapper:last-child {
    border-bottom: 0;
}

.gantt_block .current_date_line {
    position: absolute;
    top: 0;
    height: 100%;
    border-right: 1px solid #FF2E2E;
}

.no-padding-row>[class*=col], .no-padding-row>.ng-scope>[class*=col]{
    padding: 0px !important;
}

.task-info{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 45px;
    border-top:1px solid #CCC;
    border-left:1px solid #CCC;
    padding: 4px;
}
.task-info-block{
    border:1px solid #CCC;
}

.task-info-block .task_wrapper{
    padding: 4px;
}