.fog-cover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.dialog-window{
    background-color: white;
    border-radius: 3px;
    border: 1px solid #CCC;
    margin: 10px;
}

.dialog-window-right{
    float: right;
    padding: 10px;
}