.fog-cover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
}

.dialog-window{
    float: right;
    /*background-color: white;*/
    /*border-radius: 3px;*/
    /*border: 1px solid #CCC;*/
    /*margin-top: 10px;*/
    /*padding: 10px;*/
}

.dialog-window-right{
    margin-right: -5px;
    float: right;
}